@page
@model Ecomerce.Pages_Produits.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1 class="text-3xl font-bold mb-4">Delete</h1>

<h3 class="text-xl mb-4">Are you sure you want to delete this?</h3>

<div class="mb-4">
    <h4 class="text-xl mb-2">Produit</h4>
    <hr class="mb-4" />
    <dl class="space-y-4">
        <div class="flex">
            <dt class="w-1/4 text-gray-700 font-bold">
                @Html.DisplayNameFor(model => model.Produit.Nom)
            </dt>
            <dd class="w-3/4 text-gray-600">
                @Html.DisplayFor(model => model.Produit.Nom)
            </dd>
        </div>
        <div class="flex">
            <dt class="w-1/4 text-gray-700 font-bold">
                @Html.DisplayNameFor(model => model.Produit.Description)
            </dt>
            <dd class="w-3/4 text-gray-600">
                @Html.DisplayFor(model => model.Produit.Description)
            </dd>
        </div>
        <div class="flex">
            <dt class="w-1/4 text-gray-700 font-bold">
                @Html.DisplayNameFor(model => model.Produit.Prix)
            </dt>
            <dd class="w-3/4 text-gray-600">
                @Html.DisplayFor(model => model.Produit.Prix)
            </dd>
        </div>
        <div class="flex">
            <dt class="w-1/4 text-gray-700 font-bold">
                @Html.DisplayNameFor(model => model.Produit.categorie)
            </dt>
            <dd class="w-3/4 text-gray-600">
                @Html.DisplayFor(model => model.Produit.categorie.Nom)
            </dd>
        </div>
    </dl>

    <form method="post" class="mt-4">
        <input type="hidden" asp-for="Produit.Id" />
        <button type="submit"
            class="bg-red-600 text-white px-4 py-2 rounded-lg hover:bg-red-500 focus:outline-none focus:ring focus:ring-red-300">
            Delete
        </button>
        <span class="mx-2">|</span>
        <a asp-page="./Index" class="text-blue-600 hover:underline">Back to List</a>
    </form>
</div>
