@page
@model Ecomerce.Pages_Produits.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1 class="text-3xl font-bold mb-4">Details</h1>

<div class="mb-4">
    <h4 class="text-xl mb-2">Produit</h4>
    <hr class="mb-4" />
    <dl class="space-y-4">
        <div class="flex">
            <dt class="w-1/4 text-gray-700 font-bold">
                @Html.DisplayNameFor(model => model.Produit.Nom)
            </dt>
            <dd class="w-3/4 text-gray-600">
                @Html.DisplayFor(model => model.Produit.Nom)
            </dd>
        </div>
        <div class="flex">
            <dt class="w-1/4 text-gray-700 font-bold">
                @Html.DisplayNameFor(model => model.Produit.Description)
            </dt>
            <dd class="w-3/4 text-gray-600">
                @Html.DisplayFor(model => model.Produit.Description)
            </dd>
        </div>
        <div class="flex">
            <dt class="w-1/4 text-gray-700 font-bold">
                @Html.DisplayNameFor(model => model.Produit.Prix)
            </dt>
            <dd class="w-3/4 text-gray-600">
                @Html.DisplayFor(model => model.Produit.Prix)
            </dd>
        </div>
        <div class="flex">
            <dt class="w-1/4 text-gray-700 font-bold">
                @Html.DisplayNameFor(model => model.Produit.categorie)
            </dt>
            <dd class="w-3/4 text-gray-600">
                @Html.DisplayFor(model => model.Produit.categorie.Nom)
            </dd>
        </div>
    </dl>
</div>

<div class="mt-4">
    <a asp-page="./Edit" asp-route-id="@Model.Produit.Id" class="text-blue-600 hover:underline">Edit</a> |
    <a asp-page="./Index" class="text-blue-600 hover:underline">Back to List</a>
</div>
